@import "./utils/mixins.scss";
@import "./utils/variables.scss";
@import "./utils/map.scss";
@import "./utils/keyframes.scss";
@import "./utils/functions.scss";

@import "./base/base.scss";
@import "./base/typography.scss";

@import "./components/button.scss";

@import "./layouts/form.scss";
@import "./layouts/functions.scss";
@import "./layouts/header.scss";
@import "./layouts/card.scss";
@import "./layouts/footer.scss";
@import "./layouts/heart.scss";
@import "./layouts/menu-card";
@import "./layouts/menu-title.scss";
@import "./layouts/loader.scss";

@import "./pages/accueil.scss";
@import "./pages/palette-du-gout.scss";
@import "./pages/delice-des-sens.scss";
