@import "./utils/mixins.scss";
@import "./utils/variables.scss";
@import "./utils/map.scss";
@import "./utils/keyframes.scss";
@import "./utils/functions.scss";

@import "./base/base.scss";
@import "./base/typography.scss";

@import "./components/button.scss";

@import "./layouts/form.scss";
@import "./layouts/functions.scss";
@import "./layouts/header.scss";
@import "./layouts/card.scss";
@import "./layouts/footer.scss";

@import "./pages/accueil.scss";