@import "./utils/mixins.scss";
@import "./utils/variables.scss";

@import "./base/base.scss";
@import "./base/typography.scss";

@import "./components/button.scss";

@import "./layouts/form.scss";

@import "./pages/accueil.scss";