body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    display: block;
}
.container{
    width: 100%;
}
section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2,p{
    text-align: center;
}
h3{
    margin: inherit;
}