
.introduction{
    background-color: $section-background ;
    padding: 35px 35px 60px 35px;
    h2{
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 35px;
    }

}
.function{
    padding: 52px 20px 52px 20px;
    align-items: center;
    h2{
        @include section-title;
    }
}

.restaurants{
    padding: 52px 20px 52px 20px;
    background-color: $section-background;
    h2{
        @include section-title;
        right: 97px;
    }
}

@media screen and (min-width: map-get($breakpoints,tablet)) and (max-width: map-get($breakpoints,max-desktop)){
    .desktop-sections-view{
        display: flex;
        flex-direction: row-reverse;
    }
    h2{
        font-size: $title-size-desktop;
    }
    .form__button{
        width: 40%;
    }
    .introduction{
        width: 60%;
        background: linear-gradient($section-background,60%,white);
    }
    .function{
        padding: 50px;
        width: 40%;
        align-items: flex-start;
        justify-content: flex-start;
        &__nb{
            left: 30px;
        }
        h2{
            display: inherit;
            position: inherit;
            text-align: left;
        
        }
    }
    .restaurants{
        padding: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr;
        column-gap: 5%;
        row-gap: 2%;
        h2{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: left;
        position: inherit; 
    }
    
    }
    .card--1{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .card--2{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .card--3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .card--4{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    footer{
       text-align: center; 
    }
}

