.introduction{
    background-color: $section-background ;
    padding: 35px 35px 60px 35px;
    h2{
        margin-bottom: 15px;
    }
    p{
        margin-bottom: 35px;
    }

}
.function{
    padding: 52px 20px 52px 20px;
    align-items: center;
    h2{
        margin-bottom: 35px;
        display: inline-block;
        position: relative;
        right: 75px;
    }
}


