.menu-img{
    height: 260px;
    width: 100%;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.menu{
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: $section-background;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 40px 20px 40px 20px;
    margin-top: -25px;
    h2{
    font-family: $font-logo;
    padding-bottom: 40px;
    
}
&__carte{
    width: 95%;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 30px;
    &__title{
        display: block;
        font-weight: 300;
        padding-bottom: 25px;
    &::after{
        content: "ENTR";
        color: transparent;
        position: relative;
        right: 80px;
        padding-bottom: 5px;
        border-bottom: 3px solid $color-tertiary;
    }
}

.menu__carte__title--plat{
        &::after{
            content:"PLAT";
            right: 54px;
        }
}
.menu__carte__title--desserts{
        &::after{
            content:"DESS";
            right: 88px;
        }
}
}
}


/*MEDIUM SCREEN ViEW*/
@media screen and (min-width: map-get($breakpoints,screen-md)) and (max-width:map-get($breakpoints,screen-md-max)){
    .header-container{
        max-width: 60%;
        display: inherit;
    }
    .header__logo{
        margin: auto;
    }

    .menu-img{
        display: flex;
        justify-content: center;
        img{
            max-width: 63%;
        }
    }
    .menu{
        width: 60%;
        align-items: center;
        margin: auto;
        margin-top: -25px;
        &__title{
            max-width: 60%;
        }
        &__card{
            max-width: 95%;
        }
    }

}

/*LARGE SCREEN VIEW*/
@media screen and (min-width:map-get($breakpoints,screen-lg)){
    .header-container{
        max-width: 60%;
        display: inherit;
    }
    .header__logo{
        margin: auto;
    }

    .menu-img{
        display: flex;
        justify-content: center;
        img{
            max-width: 65%;
        }
    }
    .menu{
        width: 61%;
        align-items: center;
        margin: auto;
        margin-top: -25px;
        padding: 40px;
        &__title{
            max-width: 95%;
        }
        &__card{
            max-width: 70%;
        }
    }

}


