@keyframes heart-filler{
    0%{
        fill: white;
    }
    20%{
        fill: $color-secondary;
        opacity: 0.4;
    }
    40%{
        fill: $color-secondary;
        opacity: 0.6;
    }
    60%{
        fill:$color-primary-light;
        opacity: 0.8;
    }
    80%{
        fill: $color-primary;
        opacity: 0.9;
    }
    100%{
        fill:$color-primary;
        opacity: 1;
    }
}

@keyframes loader-fill{
    0%{
        transform: scaleX(0);
    }
    17%{
        transform:scaleX(0.18)
    }
    24%{
        transform: scaleX(0.3);
    }
    45%{
        transform: scaleX(0.81)
    }
    100%{
        transform: scaleX(1);
    }
}
@keyframes loader-translate{
    0%{
        transform: translateY(0);
        opacity:1;
    }
    25%{
        transform: translateY(0);    
    }
    50%{
        transform: translateY(0);
        
    }
    85%{
        transform: translateY(0);
    }
    90%{
        transform: translateY(0);
    }
    95%{
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(-9999);
    }
}

@keyframes loader-txt{
    0%{
        opacity: 0;
    }
    17%{
        opacity: 0.2;
    }
    23%{
        opacity: 0.5
    }
    45%{
        opacity: 1;
    }
    
    100%{
        opacity: 1;
    }
}
@keyframes cards-animation{
    0%{
        transform: translateY(+10px);
        opacity: 0;
    }
    50%{
        transform: translateY(+5px);
        opacity: 0.5;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

