@mixin btn{
    height: 60px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    padding: 20px;
    background: $btn-background;
    font-family: $font-txt;
    font-size: 1.1em;
    width: fit-content;
    color: white;
    box-shadow: $box-shadow;
    transition: opacity 400ms, box-shadow 500ms;
    transition-delay: 0ms, 150ms;
    &:focus{
        outline: 1px solid $color-primary;
    }
    &:hover{
        box-shadow: $box-shadow-strong;
        opacity: 0.9;
    }
}

@mixin functions{
    height: 75px;
    background-color: $section-background;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: $box-shadow;
    &:hover{
        background-color: lighten($color-primary,35%);
        box-shadow: $box-shadow-strong;
    }
}

@mixin link{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;

}
@mixin section-title{
    margin-bottom: 35px;
    display: inline-block;
    position: relative;
    right: 75px;
}

@mixin card{
    height: 250px;
    width: 85%;
}
@mixin heart-animation{
    animation: heart-filler 1s 150ms forwards ease-in;
    animation-direction:alternate;
}
@mixin menu-card{
    height: 70px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: $box-shadow;
    &:hover{
        background-color: lighten($color-primary,35%);
        box-shadow: $box-shadow-strong;
    }
}



