$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-icon: #7E7E7E;
$color-new-txt:#008766;
$color-footer: #353535;
$color-primary-light:#cc56dc;

$section-background: #F6F6F6;
$form-background: #EAEAEA;
$form-top: #CFCFCF;

$font-logo: 'Shrikhand', cursive;
$font-txt: 'Roboto', sans-serif;

$btn-background: linear-gradient($color-secondary,50%,$color-primary);
$box-shadow-strong: 2px 10px 2px $form-top;
$box-shadow: 2px 10px 10px $form-top;

$title-size-desktop: 1.7em;

$padding-title:32px;

/*$map-icone: <i class="fas fa-search"></i>*/