$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$section-background: #F6F6F6;
$form-background: #EAEAEA;
$form-top: #CFCFCF;

$font-logo: 'Shrikhand', cursive;
$font-txt: 'Roboto', sans-serif;

$btn-background: linear-gradient($color-secondary,50%,$color-primary);


/*$map-icone: <i class="fas fa-search"></i>*/