$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-icon: #7E7E7E;
$color-new-txt:#008766;
$color-new:#99E2D0;
$color-footer: #353535;

$section-background: #F6F6F6;
$form-background: #EAEAEA;
$form-top: #CFCFCF;

$font-logo: 'Shrikhand', cursive;
$font-txt: 'Roboto', sans-serif;

$btn-background: linear-gradient($color-secondary,50%,$color-primary);
$box-shadow-strong: 2px 10px 5px $form-top;
$box-shadow: 2px 10px 10px $form-top;

/*$map-icone: <i class="fas fa-search"></i>*/