.restaurants{
&__cards{
    height: 250px;
    width: 100%;
    background-color: white;
    padding-bottom: 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: $box-shadow;
    position: relative;
}
&__pic{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 75%;
    width: 100%;
    object-fit: cover;
}
&__link{
    @include link
    }

&__text{
    height: fit-content;
    padding: 15px;
    p{
        text-align: left;
        padding-top: 5px;
    }
    
}
&--new{
    color: $color-new-txt;
    background-color: $color-tertiary;
    padding: 10px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    float: right;
    }

}



     
