.form{
    position: relative;
    width: 100%;
    background: linear-gradient($form-top,10%,$form-background);
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    
&__field{
    padding: 0px;
    max-width: 40%;
    height: 50px;
    text-align: center;
    font-family: $font-txt;
    font-size: 1.1em;
    font-weight: bold;
    background: linear-gradient($form-top,10%,$form-background);
    border: none;
    border-top: 1px solid $form-top;
    
    &:focus{
        outline: 1px solid $color-primary;
    }
}
&__button{
    padding: 10px 10px 15px 10px;
    border: none;
    background: transparent;
    font-size: 1.2em;
    &:focus{
        outline: 1px solid silver;
    }
}
&__icone{
   padding-top: 5px;
   color: black;
}
}

