.form{
    width: 100%;
&__field{
    padding: 0px;
    width: 100%;
    height: 52px;
    text-align: center;
    font-family: $font-txt;
    font-size: 1.1em;
    font-weight: bold;
    background: linear-gradient($form-top,10%,$form-background);
    border: none;
    border-top: 1px solid $form-top;
    
    &:focus{
        outline: 1px solid $color-primary;
    }
}
&__button{
    height: 52px;
    position: absolute;
    top: 78px;
    left: 80px;
    text-align: right;
    border: none;
    background: transparent;
    font-size: 1.2em;
    &:focus{
        outline: 1px solid silver;
    }
}
&__icone{
    padding-right: 20%;
}
}

