.heart, .heart-line{
    position: absolute;
    right: 35px;
    top: 25px;
    font-size: 2em; 
}

.heart{
    opacity: 0;
    color: transparent;
    background: $heart-background;
    -webkit-background-clip: text;
    transition: opacity 750ms ease-in;
    &:hover{
        opacity: 1;
    }
    &:active{
        opacity: 1;
    }
}    

.heart-line{
    color: black;
}