header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    img{
    width: 50%;
}
}
.header__arrow{
    font-size: 1.2em;
    position: absolute;
    left: 25px;

}
