.loader{
   position: absolute;
   z-index: 1;
   transform: translateY(-9999px);
   width: 100%;
   height: 100%;
   background-color: $color-footer;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   animation: loader-opacity 3s ease-in-out both;
   &__progress-bar{
       width: 95%;
       height: 25px;
       background: white;
       border: 1px groove $color-primary;
       padding: 2px;
       display: flex;
       align-items: center;
       &--color{
        width: 100%;
        position: relative;
        background: $heart-background;
        height: 23px;
        transform: scaleX(0);
        transform-origin: left;
        animation: loader-fill 3s ease-out both;
       }
   }
   &__logo{
       font-family: $font-logo;
       font-size: 3em;
       color: $color-tertiary;
   }
   &__txt{
       font-family: $font-logo;
       color: white;
       font-weight: lighter;
       padding-top: 15px;
       width: 100%;
       text-align: center;
       font-size: 1.5em;
       padding-bottom: 30px;
       animation: loader-txt 3s ease-out both;
   }
   
        
    }
   


