.menu__title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.menu__heart{
    width: 30px;
    height: 70px;
    padding: 15px;
&__icon{
    fill: transparent;
    stroke-width: 20;
    stroke: black;
    &:hover{
        @include heart-animation   
    }
}
}