.menu__title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .heart, .heart-line{
        top: 0px;
        right: 0px;
    }

}

